html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
}

body p {
  color: #3b5f96;
}

/*Navigation Bar*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #a0c5fd;
  padding: 2px;
  z-index: 1000;
}

.navcontainer {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 17px;
  align-items: center;
  padding-top: 15px;
}

.navpart {
  cursor: pointer;
  transition: color 0.3s;
  font-size: medium;
  font-weight: bold;
  color: #3b5f96;
  text-decoration: none;
}

.navpart:hover {
  color: #5588d5;
}

/*First Section*/
.introcontent h3 {
  font-size: 24px;
  color: #ffffff;
}

.firstpart {
  height: 100vh; /* Full viewport height */
  background-color: #2a4b9a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.introcontent {
  max-width: 600px;
}

.introcontent p {
  color: #ffffff;
}

.btn {
  display: inline-block;
  margin-top: 18px;
  padding: 10px 22px;
  background-color: #5588d5;
  color: #ffffff;
  text-decoration: none;
  border-radius: 30px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #a0c5fd;
  color: #3b5f96;
}

/*Title Icons*/
h2 {
  font-size: 30px;
  color: #3b5f96;
  margin: 0;
  padding: 0;
  border: 0;
}

.website {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  margin: 0 auto;
  width: fit-content;
}

.website img {
  height: 75px;
  width: 75px;
}

/*Footer*/
.website2 img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  margin: 0 auto;
  width: fit-content;
  height: 30px;
  width: 30px;
}

footer p {
  text-align: center;
}

/*iframe*/
.sectionstart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.embeddedsite {
  width: 94vw; /* 90% of viewport width */
  height: 50vh;
  border-radius: 5px;
  margin-bottom: 10px;
}

.imagedescription {
  width: 94vw;
  text-align: left;
  margin: 0;
  font-size: 13px;
}

.imagedescription a {
  color: aqua;
}

/*Analysis*/
.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin: 40px 0;
  flex-wrap: wrap;
}

/* Text column */
.text {
  flex: 1 1 50%;
  min-width: 300px;
  padding-left: 3vw;
  size: 80vw;
}

h4 {
  font-size: 17px;
  margin-bottom: 10px;
}

.text p {
  font-size: 13px;
}

/* Image column */
.image {
  flex: 1 1 45%;
  min-width: 300px;
  padding-right: 3vw;
  margin-top: 25px;
  size: 20vw;
  text-align: right;
}

.image img {
  width: 70%;
  height: auto;
  border-radius: 5px;
}

/*Excellence Criteria Table*/
.specialh4 {
  flex: 1 1 50%;
  min-width: 300px;
  padding-left: 3vw;
  size: 80vw;
  font-size: 17px;
  margin-bottom: 10px;
}

.excellencecriteria {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  size: 94vw;
  width: 94vw;
  height: 50vh;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 15px;
}

th,
td {
  padding: 12px 15px;
  text-align: center;
  border: 1.5px solid #5495e9;
  color: #000000;
  font-size: 9pt;
}

/* Responsiveness*/
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .text,
  .image {
    width: 100%;
  }
}
